{% extends 'base.html' %}

{% block content %}
    <style>
        .card{
            max-width: 700px;
        }
        .container{
            padding: 20px;
        }
        .submitbtn{
            background-color: rgb(168, 76, 172);
            color: rgb(255, 255, 255);
            max-width: 200px;
        }
        .submitbtn:hover{
            max-width: 300px;
            background-color: rgb(97, 11, 100);
            color: rgb(255, 255, 255);
        }
    </style>
    <div class="container">
        <div class="row">
            <!-- Blog Post -->
		<div class="card m-auto">
			<img class="card-img-top" src="{{blog_post.image.url}}">
			<div class="card-body mt-2 mb-2">
			    <h2 class="card-title">{{blog_post.title}}</h2>
			    <p class="card-text">{{blog_post.body|safe}}</p>
                {%if blog_post.author == request.user %}
                    <a href="{% url 'blog:edit' blog_post.slug %}" class="btn submitbtn">Update</a>
                {%endif%}
            </div>
			<div class="card-footer text-muted">
			  Posted on {{blog_post.date_published}} by {{blog_post.author}}
			</div>
		</div>

        </div>
    </div>
{% endblock content %}
