{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
	
	@media (min-width: 34em) {
		.card-columns {
			-webkit-column-count:3;
			-moz-column-count:3;
			column-count:3;
			
		}
		
	}
	.submitbtn{
		background-color: rgb(168, 76, 172);
		color: rgb(255, 255, 255);
		
	}
	.submitbtn:hover{
		background-color: rgb(97, 11, 100);
		color: rgb(255, 255, 255);
	}
</style>
<div class="container">
	<div class="row">

		<!-- blog feed -->
		<div class="left-column col-lg-7 offset-lg-1 ">

			<!-- Top 'create post' bar -->
			<div class="d-lg-none mb-3 ">
				<div class="card m-auto d-flex flex-column p-3 ">
					<img class="img-fluid d-block m-auto pb-2 " src="{% static 'plotologo2.png' %}" width="72" height="72">
					<p class="lead">Ploto is home to thousands of communities, endless conversation, and authentic human connection. Whether you're into breaking news, sports, TV fan theories, or a never-ending stream of the internet's cutest animals, there's a community on Ploto for you.</p>
					<p class="m-auto"><a class="btn submitbtn"  href="{% url 'blog:create' %}">Create post</a></p>
				</div>
			</div>
			<!-- end Top 'create post' bar -->

			<!-- Blog posts-->
			{%if blog_posts%}
				{% for post in blog_posts %}
					<div class="blog-post-container">
						{% include 'blog/snippets/blog_post_snippet.html' with blog_post=post %}
					</div>
				{% endfor %}
			{%else%}
				<div class="blog-post-container">
					{%include 'blog/snippets/blog_post_snippet.html' with query=query %}
				</div>
			{%endif%}
			<!-- End Blog posts-->
		<!--pagination-->
		
		{% include 'blog/snippets/blog_post_pagination.html' with blog_posts=blog_posts%}
		<!--end pagination-->
		</div>
		<!-- end blog feed -->
		
		

		<!-- Right 'create post' column  -->
		<div class=" right-column col-lg-3 d-lg-flex d-none flex-column ">

			<div class="card create-post-bar d-flex flex-column p-3  ">
				<img class="img-fluid d-block m-auto pb-2 " src="{% static 'plotologo2.png' %}" width="72" height="72">
				<p class="lead">Ploto is home to thousands of communities, endless conversation, and authentic human connection. Whether you're into breaking news, sports, TV fan theories, or a never-ending stream of the internet's cutest animals, there's a community on Ploto for you.</p>
				<p class="m-auto"><a class="btn submitbtn " href="{% url 'blog:create' %}">Create post</a></p>
			</div>
		
		</div>
		<!-- end Right 'create post' column  -->

	</div>
</div>


{% endblock content %}
